
html,body{
    width: 100%;
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    
}
#app{
    height: 100vh;
}

.fl{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.flc{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.alc{
    align-items: center;
}
